@media screen  and (max-width:480px) and (min-width: 321px){
	.wraper {
		width: 480px;
		min-width: 480px;
		position: relative;

	}

	header {
		-webkit-background-size: cover;
		background-size: cover;
		padding-bottom: 60px;
		border-bottom: 1px solid #37293e;
	}
	.logo {
		padding-top: 65px;
		text-align: center;
		width: 165px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 89px;
	}
	.nav_menu {
			position: absolute;
			left: 50%;
			right:50%;
			top: 264px;
			transform: translate(-50%, -50%);
			width: 248px;
			height: 259px;
			margin: 0 auto;
			float: none;
			z-index: 10;
			text-align: center;

		}
		.nav_menu_header_first a {
			border-bottom: 1px solid #edbfff;
		}
		.nav_menu_header_first:hover {
			background-color: #2d2433;
			border-bottom: 1px solid #edbfff;
		}
		/*.nav_menu_drop {
			width: 248px;
		}*/
		.nav_menu_drop:hover {
			background-color: #2d2433;
			border-bottom: 1px solid #edbfff;
		}
		.nav_menu a{
		text-decoration: none;
		text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
		color: red;
		font-family: LeagueGothic;
		font-size: 24px;
		font-weight: 400;
		line-height: 41px;
		text-transform: uppercase;
		padding-left: 3px;
		padding-right: 3px;
		padding-bottom: 3px;

	}
	.nav_menu_drop {
		display: block;
	}
	/*.nav_menu_drop {
		display: none;
	}*/
	/*.nav_menu_header {
		border-bottom: 2px solid #edbfff;
	}*/
	.nav_menu:focus .nav_menu_header a{
		border-bottom: none;
	}

	/*.nav_menu:hover .nav_menu_drop {
		display: block;


	}*/
	.nav_menu {
		background-color: rgba(44,35,50, 0.8);
		border: 1px solid #051116;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
		border-radius: 6px;

	}
	.nav_menu_header {
		border-top: 0;
	}
	.nav_menu:hover .nav_menu_drop_last {
		border-bottom: 0;
	}
	/*.nav_menu:hover li{
		border-bottom: 1px solid #36283e;
		border-top: 1px solid #523f5a;
	}*/

	/*.nav_menu_drop:hover {
		border-bottom: 1px solid #edbfff;
	}*/
	.slider {
		padding-top: 98px;
		padding-bottom: 94px;
		position: relative;
		background-color: rgba(0,0,0,0.3);
	}
	.slider a:first-of-type {
		float: left;
	}
	.slider a:last-of-type {
		float: right;
	}
	.slider h2 {
			display: inline-block;

			height: 51px;
			text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
			font-weight: 400;
			line-height: 24px;
			letter-spacing: -0.28px;
		}
		.slider_title_start {
			color: #fefefe;
			font-family: LeagueGothic;
			font-size: 36px;
			padding-left: 9px;
			letter-spacing: -0.28px;
		}
		.slider_title_end {
			color: #edbfff;
			font-family: LeagueGothic;
			font-size: 18px;
			padding-left: 9px;
			letter-spacing: 0.0005px;

		}
		.iphone {
			position: absolute;
			top: -10px;
			right: 32px;


		}

		.point {
			margin: 0 auto;
			/*margin-bottom: 66px;*/
		}
		.point img {
			display: block;
			margin-top: 20px;
			margin-right:  auto;
			margin-left: auto;
			/*margin-bottom: 72px;*/
		}


		.about {
			padding-top: 76px;
			padding-left: 31px;
			padding-right: 20px;
			border-bottom: 1px solid #fff;
			padding-bottom: 48px;

		}
		.about_container {
			padding-bottom: 19px;
		}
		.about_container_second {
			padding-bottom: 8px;
		}
		.about_container_last {
			padding-top: 17px;
		}
		.about_container_img {
			float: left;
			padding-top: 4px;
			padding-left: 1px;
			padding-right: 23px;

		}
		.about_container_content {
			float: left;
			width: 381px;
		}
		.about_container_content_header {
		text-shadow: 0.5px 0.9px 0 #0f1518;
		color: white;
		font-family: LeagueGothic;
		font-size: 24px;
		font-weight: 400;
		line-height: 24px;
		padding-top: 1px;
		}
	.about_container_content_text {
		text-shadow: 0.5px 0.9px 0 #0f1518;
		color: white;
		font-family: 'Open Sans';
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		padding-left: 2px;
		padding-top: 2px;
		padding-bottom: 14px;
	}
	.about_container_content_footer {
		text-shadow: 0.5px 0.9px 0 #0f1518;
		color: white;
		font-family: LeagueGothic;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		text-align: right;
		padding-right: 5px;
	}


	.testimonials {
		margin-left: 40px;
		margin-bottom: 25px;
		padding-left: 38px;
		padding-bottom: 27px;
		padding-right: 40px;
		padding-top: 23px;
		background-color: #fff;
		position: relative;
		margin-right: 20px;
	}
	.testimonials_img {
		position: absolute;
		top: 17px;
		left: -22px;


	}
	.testimonials_header {
		margin-bottom: 18px;
	}
	.testimonials_header_start {
		text-shadow: 0.5px 0.9px 0 white;
		font-family: LeagueGothic;
		font-size: 30px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		color: #454545;
		float: left;
		padding-top: 7px;
		padding-left: 3px;
	}


	.testimonials_header_end {
		text-shadow: 0.5px 0.9px 0 white;
		font-family: LeagueGothic;
		font-size: 30px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		color: #edbfff;
		float: left;
		padding-top: 7px;
		padding-left: 3px;
	}
.testimonials_conteny_text {
		text-shadow: 0.5px 0.9px 0 white;
		color: #454545;
		font-family: 'Open Sans';
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		-ms-word-break: break-all;
		word-break: break-all;
}
.testimonials_nav {
	/*padding-top: 3px;*/
	margin-left: 40px;
	margin-right: 	30px;
	padding-top: 3px;
	margin-bottom: 53px;
}
.testimonials_nav img {
	display: block;
	margin: 0 auto;
}
.blogs {
	padding-left: 83px;
	/*padding-right: 20px;*/
	padding-bottom: 83px;
	border-bottom: 1px solid #e6e6e6;
}
.blogs_content {
	position: relative;
	margin-bottom: 18px;
}
.blogs_content_second {
	margin-bottom: 19px;
}

.blogs_header {
	text-shadow: 0.5px 0.9px 0 white;
	color: #454545;
	font-family: LeagueGothic;
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 20px;
}
.blogs_content_img img{
	border-radius: 50%;
	/*position: absolute;*/
	float: left;
	width: 48px;
}
.blogs_content_header {
	text-shadow: 0.5px 0.9px 0 white;
	color: #454545;
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	float: left;
	padding-left: 17px;
	width: 320px;
}
.blogs_content_text {
	text-shadow: 0.5px 0.9px 0 white;
	color: #454545;
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	float: left;
	width:240px ;
	padding-left: 17px;

}
.blogs_content_footer {
	text-shadow: 0.5px 0.9px 0 white;
	color: #454545;
	font-family: LeagueGothic;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-align: right;
	margin-right: 60px;
}
.logo_feedback {
	/*width: 300px;*/
	padding-left: 40px;
/*	margin-top: 72px;*/
	border-top: 1px solid #fff;
	padding-top: 38px;
	padding-bottom: 20px;
	border-bottom: 1px solid #fff;
}
.logo_brend {
	float: left;
	/*width: 104px;*/
	margin-right: 55px;
	margin-bottom: 22PX;
}
.logo_brend_first {
	margin-left: 40px;
}
.logo_brend_three {
	/*margin-left: 5px;*/
}
.logo_brend_free {
	margin-left: 23px;
	margin-right: 60px;
}
.logo_brend_five {
	padding-top: 2px;
	margin-right: 51px;
}
.logo_brend_six {
	padding-top: 3px;
}
/*.logo_brend_mar {
	margin-bottom: 40px;
}*/
.logo_brend img {
	display: block;
	margin: 0 auto;
}

.news {
	border-top: 1px solid #e6e6e6;
	padding-top: 78px;
	padding-right: 17px;
	padding-left: 17px;
	display: block;
	background-color: #ececec;
	padding-bottom: 34px;

}

.news_content_header {
	text-shadow: 0.5px 0.9px 0 white;
	color: #454545;
	font-family: LeagueGothic;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.news_content_text {

text-shadow: 0.5px 0.9px 0 white;
color: #787878;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.4px;
padding-bottom: 55px;
}
footer {
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	background-image: url('../img/footer_bg.png');
	text-align: center;
	padding-bottom: 86px;
}
.footer_nav {
	display: block;
	padding-bottom: 18px;

}

.footer_nav li {
	float: left;
	margin-right: 20px;


}
.footer_nav_link_last {
	margin-right: 0;
}
.footer_nav a{
	text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
	color: white;
	font-family: LeagueGothic;
	font-size: 20px;
	font-weight: 400;
	line-height: 34px;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 18px;
}



.footer_start {
	text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
	color: white;
	font-family: 'Open Sans';
	font-size: 12px;
	line-height: 34px;
	font-weight: 300;


}
.footer_end {
	text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
	color: white;
	font-family: 'Open Sans';
	font-size: 12px;
	line-height: 34px;
	font-weight: 700;

}
}

